{% extends 'base.html' %}



{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>
                {% block title %}
                    {% if object.pk %}
                        Editing Zone - {{ object }}
                    {% else %}
                        Add a new Zone
                    {% endif %}
                {% endblock %}
            </h3>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Zone</strong></div>
                <div class="panel-body">
                    {% for field in form %}
                    <div class="form-group">
                        <label class="col-md-3 control-label {% if field.field.required %} required{% endif %}" for="{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        <div class="col-md-9">
                            {{ field }}
                            {% if field.help_text %}
                            <span class="help-block">{{ field.help_text|safe }}</span>
                            {% endif %}
                            {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-right">
            {% if object.pk %}
                <button type="submit" name="_update" class="btn btn-primary">Update</button>
                <a href="{% url 'plugins:netbox_dns:zone' pk=zone.pk %}" class="btn btn-default">Cancel</a>
            {% else %}
                <button type="submit" name="_create" class="btn btn-primary">Create</button>
                <a href="{% url 'plugins:netbox_dns:zone_list' %}" class="btn btn-default">Cancel</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}