{% extends 'netbox_dns/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  <li><a href="{% url 'plugins:netbox_dns:zone_list' %}">Zones</a></li>
  <li>{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Zone</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ object.status }}</td>
                </tr>
                <tr>
                    <td>Nameservers</td>
                    <td>
                        <ul>
                        {% for nameserver in object.nameservers.all %}
                            <li>
                                <a href="{% url 'plugins:netbox_dns:nameserver' pk=nameserver.pk %}">
                                    {{ nameserver }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='plugins:netbox_dns:zone_list' %}
    </div>
</div>
{% endblock %}
